.container{
    position: absolute;
    height: 200px;
    width: 200px;
}
div{
    z-index: 1;
    left:2px;
    top:1px;
    background-color: aqua;
}
div1{
    z-index: 3;
    left:100px;
    top:100px;
    background-color:yellowgreen;
}
div2{
    z-index: 2;
    left:20px;
    top:100px;
    background-color: black;
}
